/**
 * Define variables here
 */

$textColor: #ccc;

$energized:                       #388E3C !default;
$positive:                        #4CAF50 !default;
$stable:                          #f8f8f8 !default;
$light:                           #FFFFFF !default;
$assertive:                       #FF5252 !default;
$dark:                            #212121 !default;
$calm:                            #727272 !default;
$royal:                           green !default;
$balanced:                        #CC0000 !default;

$present:                         green !default;
$absent:                          red !default;

$google:                          #dd4b39;
$facebook:                        #3b5998;
