/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "_variables";
@import "_fonts";

/*App css*/
.center {
  text-align: center;
}
.wrap{
    padding-left:5%;
    padding-right:5%;
    padding-bottom:3%;
}

.login-background {
  background: $stable;
}

/*Student FAB*/
.fab {
  background-color: $present;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 20;
  width: 56px;
  height: 56px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  &.active,&.activated{
    background-color: darken($present, 5%);
  }

  strong {
    color: $light;
  }
}
.absentClass {
  background-color: $absent;
  &.active,&.activated{
    background-color: darken($absent, 5%);
  }
}

#btn-container {
  text-align: center;
  position: relative;
}

#studentbtn {
  position: relative;
  margin: 2px;
  display: inline-block;
  padding: 5px;
}
#topic
{
    background-color: $stable !important;
    color: $dark;
    padding: 5%;
}
#topic::-webkit-input-placeholder {
color: grey !important;
}
#logo
{
    margin-top:50px;
    width:150px;
    height:auto;
}



/*popover*/
.platform-android .popover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
  height: auto !important;
  width: auto;
  padding: 5px;
  margin-top: -90px;
  background-color: #212121;
}

.platform-android .popover .bar-header {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

.platform-android .popover .scroll-content {
  margin: 8px 0;
  border-radius: 10px;
}

.platform-android .popover .scroll-content.has-header {
  margin-top: 0;
}

.platform-android .popover-arrow {
  position: absolute;
  display: block;
  width: 30px;
  height: 19px;
  overflow: hidden;
  transform: rotate(-180deg);
}

.platform-android .popover-arrow:after {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #212121;
  border-radius: 3px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.platform-android .popover-bottom .popover-arrow {
  top: auto;
  bottom: -10px;
}

.platform-android .popover-bottom .popover-arrow:after {
  top: -6px;
}

 .popover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  border-radius: 10px;
  height: auto !important;
  width: auto;
  padding: 5px;
  margin-top: -90px;
  background-color: #212121;
}

 .popover .bar-header {
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

 .popover .scroll-content {
  margin: 8px 0;
  border-radius: 10px;
}

 .popover .scroll-content.has-header {
  margin-top: 0;
}

 .popover-arrow {
  position: absolute;
  display: block;
  width: 30px;
  height: 19px;
  overflow: hidden;
  transform: rotate(-180deg);
}

 .popover-arrow:after {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #212121;
  border-radius: 3px;
  content: '';
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

 .popover-bottom .popover-arrow {
  top: auto;
  bottom: -10px;
}

 .popover-bottom .popover-arrow:after {
  top: -6px;
}

/*Info*/
.icon1 {
  color: $present;
}

.icon2 {
  color: $absent;
}

#info {
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  padding: 5px;
  color: white;
  position: absolute;
  bottom: 50px;
  right: 5px;
  border-radius: 5px;
  z-index: 20;
}

/*dashboard*/
.title.font-fix {
  font-size: 1em !important;
}
.att-subtitle {
  font-size: 0.9em;
}
.att-body-fix {
  margin-top: 0 !important;
}
.att-card-fix {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.absent-badge {
  padding: 3px 8px;
  min-width: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: $assertive;
  color: $light;
}
.col-offset-2 {
  margin-left: 2%;
}
.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

/*attendance page*/
#btn-container {
  margin-top: 2% !important;
  margin-bottom:10%;
}


i.icon.icon-small::before {
  font-size:20px;
}
/*devinfo*/
.button-google {
  background-color: $google;
  border-color: transparent;
  color: #fff !important;
  &.active, &.activated{
    background-color: darken($google,10%);
    color: #fff !important;
  }
}
.button-facebook {
  background-color: $facebook;
  border-color: transparent;
  color: #fff !important;
  &.active, &.activated{
    background-color: darken($facebook, 10%);
    color: #fff !important;
  }
}
.links{
  padding:4px;
  font-size: 14px;
}
.devcard{
  display:inline-block;
  margin:10px;
  border-radius:15px;
  width:250px;
  height: auto;
  box-shadow: 6px 8px 30px -4px rgba(0,0,0,0.59);
}

.profile{
  width:80px;
  height:80px;
  border-radius:30%;
}

.help-text {
  position: relative;
  top: 45%;
  color:lightgrey;
  font-size:20px;
}
.list.height-fix {
  height:100%;
}
.arrow {
  height: 100px;
  //width: 200px;
  background: transparent;
  border-radius: 0px 0px 370px/225px 0px;
  border: solid 5px grey;
  border-top:none;
  border-left:none;
  margin:20px;
}

.arrow:before {
  height:20px;
  width: 10px;
  border: 5px solid grey;
  border-radius: 30px 30px 0px 0px /75px 75px 0px 0px ;
  display: block;
  content: "";
  border-bottom:none;
  position:relative;
  top: -5px;
  left: 192px;
  -webkit-transform: rotate(10deg);
}

/*Select page*/
.item.item-radio {
  font-size:0.9em;
}
