﻿<ion-view title="Take attendance">
    <!--<ion-nav-buttons side="left">
        <button class="button button-clear icon ion-android-home" ng-click="goHome()"></button>
    </ion-nav-buttons>-->
    <ion-content class="has-header" >
      <div class="card att-card-fix">
        <div class="item item-divider item-icon-right" ng-click="showCard = !showCard" ng-init="showCard=false">
          View Info
          <i class="icon calm icon-small" ng-class="{'ion-plus-circled': !showCard, 'ion-minus-circled': showCard}"></i>
        </div>
        <div class="item item-body" ng-show="showCard">
          <h2 class="att-body-fix">{{att.dept.value}} {{att.year.id | uppercase}} {{att.semester.value}}</h2>
          <h2>{{att.subject.value}}</h2>
          <h2>{{att.type.value}} {{att.batchno.value}}</h2>
          <h2>{{att.date | date:'EEE, dd - MMMM - yyyy'}}</h2>
        </div>
      </div>

        <div id="btn-container">
            <div id="studentbtn" ng-repeat="student in students | orderObjectBy:'rollno':false" on-hold="showInfo($event,student)">
                <button class="button fab" ng-class="{'absentClass':student.absent}"
                        ng-click="toggle(student)" >
                    <strong>{{student.rollno}}</strong>
                </button>
            </div>
        </div>
      <div class="padding"></div>
      <div class="padding"></div>
    </ion-content>
    <div id="info">
        <div><i class="icon ion-record icon1"></i> Present</div>
        <div><i class="icon ion-record icon2"></i> Absent</div>
    </div>
    <div class="bar bar-footer bar-stable">
      <div class="title" ng-click="askTopic(students)">Submit&nbsp;<i class="icon ion-android-send"></i></div>
    </div>
</ion-view>
