<ion-view title="Select">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="modal.show()">Use Presets</button>
    </ion-nav-buttons>
    <ion-content>
      <div class="list card att-card-fix">
        <div class="item item-icon-left" ng-click="toggle.dept = !toggle.dept">
          <i class='icon ion-android-home calm'></i>
          Departments<span class="item-note">{{selected.dept.name}}</span>
        </div>
        <ion-radio ng-show="toggle.dept"
                   ng-model="selected.dept"
                   ng-repeat="dept in depts"
                   ng-value="dept">{{dept.name}}</ion-radio>
      </div>

      <div class="list card att-card-fix">
        <div class="item item-icon-left" ng-click="toggle.year = !toggle.year">
          <i class='icon ion-university calm'></i>
          Year<span class="item-note">{{selected.year.name}}</span>
        </div>
        <ion-radio ng-show="toggle.year"
                   ng-model="selected.year"
                   ng-repeat="year in years"
                   ng-value="year"
                   ng-change="yearChanged()">{{year.name}}</ion-radio>
      </div>

      <div class="list card att-card-fix">
        <div class="item item-icon-left" ng-click="toggle.sem = !toggle.sem">
          <i class='icon ion-connection-bars calm'></i>
          Semester<span class="item-note">{{selected.semester.name}}</span>
        </div>
        <ion-radio ng-show="toggle.sem"
                   ng-model="selected.semester"
                   ng-repeat="semester in sems"
                   ng-value="semester"
                   ng-change="semChanged()">{{semester.name}}</ion-radio>
      </div>

      <div class="list card att-card-fix">
        <div class="item item-icon-left item-borderless">
          <i class='icon ion-easel calm'></i>
          Type
        </div>
        <div class="button-bar padding" ng-click="typeChanged()">
          <a grouped-radio="{id:'th',value:'Theory'}" ng-model="selected.type">Theory</a>
          <a grouped-radio="{id:'pr',value:'Practical'}" ng-model="selected.type">Practical</a>
        </div>
      </div>

      <div class="list card att-card-fix" ng-if="selected.type.id == 'pr'">
        <div class="item item-icon-left" ng-click="toggle.batch = !toggle.batch">
          <i class='icon ion-person-stalker calm'></i>
          Batch<span class="item-note" ng-if="selected.batch">Batch {{selected.batch}}</span>
        </div>
        <ion-radio ng-show="toggle.batch"
                   ng-model="selected.batch"
                   ng-repeat="batch in batches"
                   ng-value="batch">Batch {{batch}}</ion-radio>
      </div>

      <div class="list card att-card-fix">
        <div class="item item-icon-left" ng-click="toggle.subject = !toggle.subject">
          <i class='icon ion-ios-book calm'></i>
          Subject<span class="item-note">{{selected.subject.name}}</span>
        </div>
        <ion-radio ng-show="toggle.subject"
                   ng-model="selected.subject"
                   ng-repeat="subject in subjects"
                   ng-value="subject">{{subject.fullname}}</ion-radio>
      </div>

      <div class="list card att-card-fix" ng-init="selected.noofhours = 1">
        <div class="item item-icon-left item-borderless">
          <i class="icon ion-clock calm"></i>
          Duration<span class="item-note">{{selected.noofhours}} Hour{{(selected.noofhours==1)?'':'s'}}</span></div>
        <div class="range range-assertive">
          <input type="range" min="1" max="4" value="1" ng-model="selected.noofhours">
        </div>
      </div>

      <div class="list card att-card-fix">
        <div class="item item-icon-left item-borderless">
          <i class="icon ion-clipboard calm"></i>
          Topic
        </div>
        <div class="item item-input-inset item-borderless">
          <label class="item item-input-wrapper">
            <input type="text" placeholder="Enter a descriptive topic" ng-model="selected.topic">
          </label>
        </div>
      </div>

      <ionic-datepicker input-obj="datepickerObject">
        <div class="card att-card-fix" ng-click="">
          <a class="item item-icon-left calm">
            <i class="icon ion-android-calendar"></i>
            Date <span class="item-note">{{selected.date | date:'dd - MMMM - yyyy'}}</span>
          </a>
        </div>
      </ionic-datepicker>

      <div class="card att-card-fix">
        <ion-checkbox ng-model="preset.save">Add to presets</ion-checkbox>
      </div>
      <div class="padding"></div>
      <div class="padding"></div>
      <div class="padding"></div>
      <div class="padding"></div>
      <div class="padding"></div>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <div class="title" ng-click="gotoAtt(selected)" nav-direction="forward">Take Attendance</div>
    </div>
</ion-view>
