<ion-view title="Absent Student Numbers">
    <ion-nav-buttons side="left">
        <button class="button button-clear icon ion-android-home text-primary-color" ng-click="goHome()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>
                    {{items.name}}
                </h2>
                <p>
                    Total Lectures: {{items.totalAtt}}
                </p>
                <p>
                    Teacher: {{items.teacher}}
                </p>
                <p ng-if="batchno">
                    Batch {{items.batchno}}
                </p>
            </div>
        </div>
        <div id="cumAttTable">
            <div class="row header">
                <div class="col col-20">Roll No</div>
                <div class="col">Name</div>
                <div class="col col-25">Cumu Att</div>
            </div>
            <div class="row" ng-repeat="student in items.att | orderObjectBy:'rollno':true ">
                <div class="col col-20"><strong>{{ student.rollno }}</strong></div>
                <div class="col">{{ student.name }}</div>
                <div class="col col-25">{{ student.att }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>